@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body{
    font-family: "Merriweather Sans", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* ===========NAVBAR START========== */

.navbar{
    width: 100%;
    float: right;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #C5EDAC;
    box-sizing: border-box;
}

.navbar nav{
    margin-left: auto;
}

.navbar nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.Logo{
    float: left;
    margin-right: auto;
    text-decoration: none;
    color: #000000;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #8BA779;
    font-weight: 600;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 20px; 
    border-radius: 30px; 
}

.navbar nav ul li a:hover {
    background-color: #8BA779;
    color: #fff;
}

.navbar nav ul li .active-page {
    background-color: #8BA779;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px; 
    border-radius: 30px; 
}

/* ==========NAVBAR END========== */

.bContainer {
    background-color: #99C2A2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-image: 
        linear-gradient(#B1DFBB, #B1DFBB), 
        linear-gradient(#B1DFBB, #B1DFBB), 
        linear-gradient(#B1DFBB, #B1DFBB), 
        linear-gradient(#B1DFBB, #B1DFBB); 
    background-repeat: no-repeat;
    background-position: 
        0 20%,  
        0 40%,  
        0 60%,  
        0 80%;  
    background-size: 100% 2px; 
}

.headtext{
    justify-content: center;
    color: #FCFCFC;
    font-weight: 700;
    font-size: 56px;
    margin-top: 10%;
    margin-left: 10%;
}

/* ==========HEADER END========== */

.wContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    margin: 30px 20px;
}

.wContainer img {
    max-width: 40%; 
    height: auto;
    margin-right: 20px; 
}

.text-container {
    max-width: 55%; 
    flex-grow: 1; 
}

.text-container h3 {
    margin: 0 0 10px 0; 
    font-size: 1.5rem;
}

.text-container p {
    font-size: 1rem;
    line-height: 1.5; 
}

/* =====KONSUMSI END======= */

.photo-container{
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.section-divider {
    border: none;
    height: 2px;
    background-color: #8BA779;
    margin: 40px 0;
}

.pContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    padding: 30px 20px;
    background-color: #8BA779;
}

.pContainer img {
    max-width: 32%; 
    height: auto;
    margin-left: 20px; 
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.textcontainer {
    max-width: 68%; 
    flex-grow: 1; 
}

.textcontainer h3 {
    margin: 0 0 10px 0; 
    font-size: 1.5rem;
    color: #FCFCFC;
    margin: 40px 0px 10px 30px;
}

.textcontainer p {
    font-size: 1rem;
    line-height: 1.5; 
    color: #FCFCFC;
    margin-left: 30px;
}